# 디폴트 무시된 파일
/shelf/
/.idea/
*.iml
# 에디터 기반 HTTP 클라이언트 요청
/httpRequests/
# 쿼리 파일을 포함한 무시된 디폴트 폴더
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# 빌드 관련 폴더 제외
/build/
/dist/
*.spec
# 단, 빌드에 필요한 spec 파일은 추적 (resources 번들 설정 포함)
!Outbound_filter_tool.spec

# 파이썬 캐시 파일 제외
__pycache__/
*.py[cod]
.pytest_cache/

# 가상환경 제외
/venv/
/.venv/
